name: Build

on:
  push:
    tags:
    - 'v*.*.*'

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2
        
      - name: Build solution
        run: msbuild ./PhysicsGame.sln /p:Configuration=Release

      - name: Create artifact directory
        run: mkdir artifact/PhysicsGame/

      - name: Copy build files to the artifact directory
        run: copy ./Build/PhysicsGame/Release/Win32/PhysicsGame.exe ./artifact/PhysicsGame/

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: my-app
          path: artifact/
  
  release:
    needs: build
    runs-on: ubuntu-latest

    steps:          
      - name: GitHub Releases
        uses: fnkr/github-action-ghr@v1.3
        env:
          GHR_COMPRESS: zip
          GHR_PATH: artifact/
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
